
.checkInform{
  height: 70vh;
}
body {
    background-color: #F3EBF6;
    /* font-family: 'Ubuntu', sans-serif; */
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    margin-top: 10%;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
/* font-family: 'Ubuntu', sans-serif; */
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #ec6f66 , #f3a183
);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}

.checkInform input{

  margin-left: 5%;

}
.hidinformation{
  margin-top: 5%;
}
.hidinformation label{
  margin-left: 5%;
}
.hidinformation input{
  margin-left:1%
}


.checkLable{
  margin-left: 15%;
}

.welcomComponentMain{
  display: flex;
width: 100%;
height: 100vh;
}
.sideBar{
  width: 20%;
}
.containtInf{
  width: 80%;
margin-left: 20%;
}

.sideBar h3 {

  margin-left: 20px;

}







/* ------------------------------------------------
 */
 .container {
  max-width: 100%; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
}
.buttonCart{
  margin-bottom: 10px;
  color: black;
  background: lightgreen;
  border: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* margin-bottom: 20px; */
  margin: 10px auto;
  width: 100%;
  justify-content: space-between;

}

.col-md-6 {
  width: 50%; /* Each column takes half of the row width */
  padding: 10px; /* Adjust the padding as needed */
}

.card {
position: relative;
background-color: white !important;

width: 265px;

  border: 1px solid #ccc;

  border-radius: 10px;
  border-color: rgb(83, 221, 221);
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.card .element-description {
  font-size: 14px;
  color: #888;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  transition: -webkit-line-clamp 0.3s;
}

.button-class {
  outline: auto;
 
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
   background-color: aqua;
  color: black;
  border-radius: 10px;
  
  transition: background-color 0.3s;
  width: 111px;
  height: 42px;
}

.green-icon {
  color: green;
  margin-right: 6px;
}



.card-image {
  width: 150px; /* Fixed width of the image */
  height: 100%; /* Make the image fill the height of the card */
  object-fit: cover; /* Adjust the image's aspect ratio */
  border-left: 4px; /* Border on the left side */
  border-top-left-radius: 10px; /* Round the top-left corner */
  border-bottom-left-radius: 10px;
}


.card-details {
  flex: 1; /* Take remaining space in the card */
  padding: 20px; /* Adjust the spacing between image and details */
}

/* Example card content styles */
.card h3 {
   font-size: 18px;
  margin-bottom: 10px;
  color: blue;
  font-style: initial;
  font-family: cursive;
font-weight: bolder;
}

.card p {
  font-size: 14px;
  color: #888;
}

.card-image{
margin: 10px -34px 10px 50px
}


.pos-f-t{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-color: red;
  width: 100%
}